.Home {
    color: #fff;
    height: 100%;
    .ant-layout {
      height: 100%;
    }
    .site-layout-content {
      height: 100%;
      padding: 24px;
      background: #fff;
    }
    .logo {
      float: left;
      width: 120px;
      height: 31px;
      line-height: 31px;
      margin: 16px 24px 16px 0;
      background: rgba(255, 255, 255, 0.3);
      text-align: center;
      color:#fff;
    }
    .ant-menu {
      display: inline-block;
    }
    .logout {
      float: right;
      height: 100%;
    }
    .user-name {
      display: inline-block;
      width: auto;
      height: 32px;
      line-height: 36px;
      font-size: 16px;
      margin-left: 15px;
      color: seashell;
    }
  }
  