.login {
  width: 100%;
  height: 100%;
  display: flex;
  .img {
    flex: 1;
    img {
        width: 100%;
        height: 100%;
    }
  }
  .login-form {
    width: 35%;
    background-color: palevioletred;
    display: flex;
    justify-content: center;
    align-items: center;
    .form {
        width: 100%;
        height: 465px;
        background-color: rebeccapurple;
    }
  }
}
